@tailwind base;
@tailwind components;
@tailwind utilities;

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// * {
//   border: 1px solid red;
// }


main {
  cursor: none;
}

body {
  margin: 0;
  /* font-family: 'Dela Gothic One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 0.1em;
  height: 100vh;
}

.intro {
  height: 100px;
  width: 85%;
  position: relative;
  background-color: rgb(130, 30, 253);
  z-index: 0;
}


.intro::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 100px;
  border-color: transparent transparent rgb(130, 30, 253) transparent;
  right: -149.5px;
  top: -50px;
  transform: rotate(90deg);
}

/* #007bff transparent */

/* color: rgb(193, 191, 191); */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 48px;
  line-height: 2em;
  text-align: center;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 30px;
}

p, a {
  font-size: 32px;
  line-height: 2em;
}

a {
  font-size: 30px;
}

.icon-scroll, .icon-scroll:before, .resume {
  position: absolute;
  left: 85%;
}

.icon-scroll {
  width: 80px;
  height: 160px;
  margin-left: -20px;
  margin-top: -120px;
  box-shadow: inset 0 0 0 1px rgb(130, 30, 253);;
  border-radius: 50px;
  border: 2px solid rgb(130, 30, 253);;
  position: sticky;
  top: 0;
}

/* rgb(130, 30, 253) */

.icon-scroll:before {
  content: '';
  width: 30px;
  height: 30px;
  background: rgb(130, 30, 253);
  margin-left: -42px;
  top: 8px;
  border-radius: 20px;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.profile-image-container {
  height: 30vh;
  z-index: 1;
}

.scroll-container {
  position: sticky;
  top: 20vh;
  left: 85vw;
}

.languages-container {
  min-height: 300px;
  position: sticky;
}

.details-container, .languages-container {
  border: 4px solid rgb(130, 30, 253);
  padding: 1.5em;
  border-radius: 40px;
}

.bio-text, .languages-container p, .details-container p{
  font-size: 26px;
}

.emoji {
  display: inline; 
  height: 60px;
  width: 60px;
  margin: 12px;
}

.language {
  height: 80px;
  width: 80px;
  margin: 4px;
}

.card, .projectInfoCard, .project-languages  {
  border: 4px solid rgb(130, 30, 253);
  box-shadow: 4px 4px 15px 2px rgb(130, 30, 253);
}

.project-languages {
  padding: 1.5em;
  border-radius: 40px;
  width: 50%;
  margin-top: 2em;
}

.projectInfoCard a {
  background-color: rgb(130, 30, 253);
  padding: 0.85em;
  height: 1em;
  text-align: center;
  border-radius: 50px;
  margin: 0 0.5em;
}

.projectInfoCard a:hover {
  background-color: rgb(99, 23, 192);
}

.projectInfoCard h1 {
  margin: 0.5em;
}
.projectInfoCard p {
  margin-top: 1em;
}

.project-languages li {
  display: inline-block;
  background-color: rgb(206, 67, 159);
  height: 8em;
  width: 8em;
  text-align: center;
  border-radius: 50%;
  margin: 0.75em;
  animation: iconfloat 4s ease-in-out infinite;
  box-shadow: 2px 4px 7px 1px rgb(130, 30, 253)
}

.project-languages img {
  height: 5em;
  width: 5em;
  margin: 1.5em auto;
} 

.glide {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.glide__slide {
  text-align: center;
  height: 70vh;
  min-width: 50vw;
  line-height: 150px;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
}

.glide__slide img {
  height: 70vh;
  width: 80vw;
}

.glide__arrows {
  padding: 5px;
}

.glide__arrow {
  position: relative;
  top: 0;
  margin: 20px;
  transform: none;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgb(206, 67, 159);
  transition: all 0.2s ease-in-out;
}



.cursor-pointer {
  background-color: rgb(206, 67, 159);
  height: 2em;
  width: 2em;
  margin: 0 0.5em 8em 0.5em;
}


.direction-arrows {
  background-color: rgb(130, 30, 253);
  height: 5em;
  width: 5em;
  color: white;
}
.card {
  z-index: 2;
  height: 300px;
  width: 50vw;
  height: 500px;
  border-radius: 40px;
  margin-top: 1em;
  animation: float 4s ease-in-out infinite;
}

.projectInfoCard {
  margin: 3em;
  height: 80%;
  padding: 8em;
}

.card:hover {
  scale: 1.02;
}

.project-thumbnail {
  background-size: cover;
  background-repeat: no-repeat ;
  border-radius: 36px;
  min-height: 100%;
}



.view-button {
  margin: 200px auto;
  background-color: rgb(130, 30, 253);
  color: white;
  height: 3em;
  width: 10.5em;
  border-radius: 60px;
  padding: 0.5em;
  transform: scale(0);
  text-align: center;
  font-size: 28px;
  z-index: 1;
}



.project-thumbnail:hover {
  z-index: -1;
  .view-button {
    transform: scale(1);
    z-index: 1;
  }
}

.project-thumbnail .view-button {
  filter: brightness(100%) !important;
}

.project-thumbnail.Midpoint {
  background-image: url('../public/images/midpoint/midpoint.png');
  background-position: center;
}

.project-thumbnail.Spaces {
  background-image: url('../public/images/spaces/spaces.png')

}

.project-thumbnail.Movie-Minder {
  background-image: url('../public/images/movieMinder/movie_minder.png');
}

.project-thumbnail.FindYourHat {
  background-image: url('../public/images/findhat/findYourHat.png')
}

.cursor {
  background-color: rgb(193, 191, 191);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;

}

a:hover {
  cursor: pointer;
}

img:hover {
  .cursor {
    z-index: 1;
  }
}


.footer {
  height: 12vh;
  width: 100%;
  background-color: rgb(130, 30, 253);
  position: relative;
  bottom: 0;
  text-align: end;
  align-items: center;
  left: 0;
  padding-top: 1em;
}

.footer h5 {
  margin-right: .5em;
  padding-top: 0.3em;
}


@keyframes scroll {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(110px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }
  50% {
    box-shadow: 4px 8px 15px 2px rgb(130, 30, 253);
    transform: translateY(-15px)
  }
  100% {
    box-shadow: 4px 4px 15px 2px rgb(130, 30, 253);
    transform: translateY(0px)
  }
}

@keyframes iconfloat {
  0% {
    transform: translateY(0px)
  }
  50% {
    box-shadow: 4px 8px 15px 2px rgb(130, 30, 253);
    transform: translateY(-4px)
  }
  100% {
    box-shadow: 2px 2px 7px 1px rgb(130, 30, 253);
    transform: translateY(0px)
  }
}

@media only screen and (min-width: 1244px) and (max-width: 1900px) {

  .languages-list-container img {
    height: 2em;
    width: 2em;
  }

  .profile a {
    font-size: 21px;
  };

  .languages-container {
    font-size: 14px;
    padding: 1.75em;
    width: 22.5em;
  };

  .languages-container img {
    height: 3em;
    width: 3em;
  }

  .project-thumbnail {
    height: 8em;
  }

  .details-container {
    padding: 1.75em;
    width: 20em;
  }

  .details-container p {
    line-height: 1.5em;
  }

  .languages-container p {
    font-size: 1.75em;
  }

  .project-languages {
    width: 60%;
  }
}

@media only screen and (max-width: 1244px) {

  .languages-list-container img {
    height: 2em;
    width: 2em;
  }

  .intro {
    width: 65%
  }

  h4 {
    font-size: 24px;
    padding:0.5em;
  }

  .details-container p, .languages-container p {
    line-height:0.25em;
  }

  .languages-container {
    width: 15em;
  }

  p, .bio-text, a {
    font-size: 24px;
  };

  .details-container {
    width: 20vw;
  }

}

@media only screen and (min-width: 964px) and (max-width: 1226px) {
  .details-container, .languages-container {
    padding: 1em;
  }

  .details-container a, .languages-container a, .details-container p, .languages-container p {
    font-size: 16px;
  }

  .language {
    height: 1.8em;
    width: 1.8em;
  }


}

@media only screen and (max-width: 964px) {
  .languages-list-container img {
    height: 1em;
    width: 1em;
  }

  h1 {
    font-size: 34px;
  };

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  .project-thumbnail {
    height: 10em;
    width: 20em;
    min-height: fit-content;
  }

  .card {
    height: 10em;
    width: 20em;
  }

  .bio-text, .details-container a {
    font-size: 12px;
  }

  .languages-container p {
    font-size: 14px;
    line-height:1.75em;
  
  }

  .languages-container {
    width: 11.5em;
  }

  .language {
    height: 1.65em;
    width: 1.65em;
  }

  .details-container p {
    line-height: 1.75em;
    font-size: 12px;
  }



  .details-container a {
    font-size: 12px;
    line-height: 0.5em;
  }

  .project-languages li {
    height: 6em;
    width: 6em;
  }

  .emoji {
    height: 3em;
    width: 3em;
  }

}

@media only screen and (max-width: 870px) {
  .glide {
    display: none;
  }

  .projectInfoCard a {
    display: block;
  }

  .project-languages li {
    height: 4em;
    width: 4em;
  }

  .project-languages img {
    height: 2em;
    width: 2em;
    margin: 0.8em auto;
  }

  .projectInfoCard a {
    height: 3em;
    margin: 0.5em;
    font-size: 1em;
  }

  .languages-container {
    min-height: 12em;
  }

  .languages-container, .details-container {
    width: 11.5em;
  }

  .languages-container h4 {
    padding: 0em;
  }

  .details-container p {
    line-height:0.75em;
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .project-thumbnail {
    height: 6em;
    width: 10em;
    min-height: fit-content;
  }

  .view-button {
    height:2em;
    width: 5em;
  }


  aside {
    width: 10em;
  }

  h1 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .card {
    height: 6em;
    width: 10em;
  }

  .intro {
    width: 25%
  }

  .languages-list-container {
    flex-wrap: wrap;
  }



  .scroll-container {
    display: none;
  }

  .details-container, .languages-container {
    display: none;
  }

  .project-languages {
    padding: 0;
  }

  .project-languages h5 {
    font-size: 16px;
  }

  .project-languages img {
    height: 1.5em;
    width: 1.5em;
    margin: 0.6em auto;
  }

  .project-languages li {
    height: 1.5em;
    width: 1.5em;
}
}

@media only screen and (max-width: 493px) {

  .project-languages {
    display: none;
  }

  .projectInfoCard {
    margin: 0;
  }

  .projectInfoCard a {
    height: 6em;
    width: 12em;
    font-size: 0.5em;
    margin: 1em;
}
}