@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  cursor: none;
}
body {
  margin: 0;
  /* font-family: 'Dela Gothic One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: 'Arial';

}

.intro {
  height: 150px;
  width: 85%;
  position: relative;
  background-color: #007bff;
  z-index: 0;
}

.intro::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #007bff transparent;
  right: -200px;
  transform: rotate(90deg);
}

/* color: rgb(193, 191, 191); */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 48px;
  line-height: 2em;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 30px;
}

p, a {
  font-size: 32px;
  line-height: 2em;
}

a {
  font-size: 30px;
}

.icon-scroll, .icon-scroll:before, .resume {
  position: absolute;
  left: 85%;
}



.icon-scroll {
  width: 80px;
  height: 160px;
  margin-left: -20px;
  margin-top: -120px;
  box-shadow: inset 0 0 0 1px rgb(130, 30, 253);;
  border-radius: 50px;
  border: 2px solid rgb(130, 30, 253);;
  position: sticky;
  top: 0;
}

/* rgb(130, 30, 253) */

.icon-scroll:before {
  content: '';
  width: 30px;
  height: 30px;
  background: rgb(130, 30, 253);
  margin-left: -42px;
  top: 8px;
  border-radius: 20px;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.profile-image-container {
  height: 30vh;
  z-index: 1;
}

.scroll-container {
  position: sticky;
  top: 20vh;
  left: 85vw;
}

.languages-container {
  min-height: 300px;
  position: sticky;
}

.details-container, .languages-container {
  border: 4px solid rgb(130, 30, 253);
  padding: 2em;
  border-radius: 40px;
}

.bio-text, .languages-container p, .details-container p{
  font-size: 26px;
}

.emoji {
  display: inline; 
  height: 60px;
  width: 60px;
  margin: 12px;
}

.language {
  height: 80px;
  width: 80px;
  margin: 4px;
}

.card {
  border: 4px solid rgb(130, 30, 253);
  height: 300px;
  width: 50vw;
  height: 500px;
  border-radius: 40px;
  margin-top: 1em;
  animation: float 4s ease-in-out infinite;
  box-shadow: 4px 4px 15px 2px rgb(130, 30, 253);
  z-index: 2;
}

.card:hover {
  scale: 1.02;
}

.project-thumbnail {
  background-size: cover;
  background-repeat: no-repeat ;
  border-radius: 36px;
  min-height: 100%;

}



.view-button {
  margin: 200px auto;
  background-color: rgb(130, 30, 253);
  color: white;
  height: 3em;
  width: 10.5em;
  border-radius: 60px;
  padding: 0.5em;
  transform: scale(0);
  text-align: center;
  font-size: 28px;
  z-index: 1;
}

.project-thumbnail:hover {
  z-index: -1;
  .view-button {
    transform: scale(1);
    z-index: 1;
  }
}

.project-thumbnail .view-button {
  filter: brightness(100%) !important;
}

.project-thumbnail.Midpoint {
  background-image: url('../src/assets/midpoint.png');
  min-height: 100%;
}

.project-thumbnail.Spaces {
  background-image: url('../src/assets/spaces.png')

}

.project-thumbnail.MovieMinder {
  background-image: url('../src/assets/movie_minder.png');
}

.project-thumbnail.FindYourHat {
  background-image: url('../src/assets/findYourHat.png')
}


.cursor {
  background-color: rgb(193, 191, 191);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;

}

a:hover {
  cursor: pointer;
}

img:hover {
  .cursor {
    z-index: 1;
  }
}

.tooltip {
  background-color: rgb(130, 30, 253);
  color: white;
  display: none;
  padding: 2em;
}

.tooltip-active {
    position: absolute;
    left: -500px;
    top: 200px;
    display: block;
  
}


.tooltip-hidden {
  visibility: hidden;
}


@keyframes scroll {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(110px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }
  50% {
    box-shadow: 4px 8px 15px 2px rgb(130, 30, 253);
    transform: translateY(-15px)
  }
  100% {
    box-shadow: 4px 4px 15px 2px rgb(130, 30, 253);
    transform: translateY(0px)
  }
}